body {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

h5 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  font-size: 21px;
}

.nav-item {
  padding-left: 24px;
}

.intro-section {
  background-color: #ffc947;
  color: #ffffff;
  text-align: left;
}

.intro-profile {
  padding: 16rem 15rem 30rem;
}


.name {
  font-size: 6rem;
  padding-left: 10rem;
}

.description {
  font-size: 1.75rem;
  padding-left: 25rem;
}

.experience-title {
  font-weight: bold;
  padding: 2rem 7rem;
}

.profile-picture {
  width: 25%;
  border: 13px solid #ffffff;
  border-radius: 200px;
  float: right;
  margin-right: 11rem;

}

.cloud-space {
  padding-top: 20rem;
  overflow: hidden;
}


.cloud {
  width: 10%;
  position: relative;
  left: -9rem;
}

.experience-row {
  margin: 5rem auto 13rem auto;
  line-height: 2;
}

.appbrewery-icon, .sap-alexa-icons {
  padding: 2rem 2rem;
}

.tcs-icon, .appbrewery-icon {
  width: 22rem;
}

.vusar-icon, .uci-icon {
  width: 15rem;
}

.tcs-icon, .vusar-icon, .appbrewery-icons, .donaldbren-icons {
  float: left;
}

.appbrewery-icon, .uci-icon, .sap-alexa-icons {
  float: right;
}


.references {
  background-color: #85e6f6;
}

.reference-row {
  padding: 55px;
}

.reference-icon {
  width: 7rem;
  margin-bottom: 22px;
}


.contact-info {
  padding-top: 30px;
  background-color:#000000;
  color: #ffffff;
}

.contact-row {
  padding: 5rem 7rem;
}

.contact-icon {
  color: #ffffff;
}
